/**************** TAG SELECTORS ****************/
html, body{
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: 'Merriweather', serif;
  text-align: center;
  color: #40514E;
}


h1{
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  /* font-size: 5.625rem; */
  font-size: 5.9rem;
  font-weight: bold;
}

h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 10px;
}

h3{
  font-size: 1.3rem;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a{
  color:  #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px 10px 20px;
  text-decoration: none; /* To remove the default underline decoration, of <a> tags */
}

a:hover{
  color: #EAF6F6;
}

hr{
  border-style:dotted none none;
  border-color: #A6E3E9;
  border-width: 6px;    /* Thickness of the Border Line */
  width: 4%;            /* Horizontal Width of the Border Line, wrt to the width of the viewport */
  margin: 70px auto 70px auto;
}

/**************** ID SELECTORS ****************/
#top-section{
  /* background-color: blue; */
  background-color: #EAF6F6;
  text-align: center;
  position: relative;
  padding-top: 100px;
  height: auto;
}

#middle-section{
  background-color: white;
  margin: 50px 0 100px 0;
}

#bottom-bottom{
  background-color: #66BFBF;
  padding: 40px 0 20px 0;
}

/**************** CLASS SELECTORS ****************/

/*** HOME PAGE ***/
.home-description{
  font-size: 1.4rem;
  font-weight: 500;
}

.top-cloud{
  position: absolute;
  top: 120px;
  /* right: 270px; */
  right: 16%;
}

.bottom-cloud{
  position: absolute;
  /* left: 270px; */
  left: 16%;
  top: 300px;
}

/*
.land-container{
  text-align: center;
  position: relative;
  height: 300px;
  width: 50%;
  padding-top: 80px;
}
*/

.land{
  padding-top: 120px;
}

/*** HELLO! ***/
.hello-container{
    padding-top: 5px;
    padding-left: 5%;
    padding-right: 5%;

}

.hello-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hello-img{
  margin-top: 5%;
  width: 95%;
  padding-right: 5%;
}

.coding-profile{
  font-family: 'Merriweather', serif;
  /* font-style: oblique; */
  margin: 0;
  text-decoration: none;
}

.coding-profile:hover{
  color: #66BFBF;
}

.hello-description{
  font-size: 18px;
  font-weight: 400;

  line-height: 160%;
  text-align: left;
  margin-top: 50px;
  padding-left: 5%;
}

.hello-bottom-line{
  margin-top: 100px;
  clear: left;
}

/*** MY SKILLS ***/
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 200%;
}

.dsa-img{
  width: 100%;
  /* margin-right: 30px; */
}


/*.dsa-img{
  width: 25%;*/                  /* This is 25% of the parent container, ie skill-row div container (which has width:50% of the body container)*/
  /*float: left;
  margin-right: 30px;

}*/

.webdev-img{
  bottom: 8px;
  width: 100%;
}


/*** MY SESSIONS ***/
.my-sessions{
  padding: 0 15%;
}

.session-text{

}

.session-desc{
  margin: 0 auto;
  width: 75%;
  text-align: center;
}

.speaker-card {
  background-color: #EAF6F6;
  height: 290px;
  margin: 40px 20px 20px 0px;
  padding: 20px 20px 0 20px;
  border-radius: 5px;
  width: 100%;
}

.speaker-card .session-content {
  margin-top: 20px;
}
.speaker-card .session-content .session-title a{
  font-size: 18px;
  font-weight: 400;
  color: #11999E;
  text-align: center;
}


/*** GET IN TOUCH ***/
.contact-message{
  margin-bottom: 50px;
  padding: 0 3%;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}


.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #26c4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #26c4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #26c4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #26c4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #26c4ad);
  text-decoration: none;
}

/*** BOTTOM BAR ***/
.copyright-message{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 10px 0 5px 0;
}


/**************** CSS MEDIA QUERIES ****************/
@media(max-width: 768px){
  /* For Phones */
  h2{
    font-size: 2rem;
  }

  h3, h4{
    font-size:16px;
  }

  p, .hello-description, .session-text{
    font-size: 14px;
    line-height: 1.5;
  }

  .session-text{
    text-align: center;
  }
  
  .my-sessions{
    padding: 0 3%;
  }  
}

@media(max-width: 992px){
  h1{
    font-size: 4.1rem;
  }

  .home-description{
    font-size: 1rem;
  }
  
  .my-sessions{
    padding: 0 5%;
  }  
}

/* Skills Section */
@media(max-width: 1250px){
  .skill-row{
    width: 60%;
    line-height: 150%;
  }
}

@media(max-width: 992px){
  .skill-row{
    width: 70%;
    margin: 50px auto 50px auto;
    text-align: left;
    line-height: 150%;
  }
}

@media(max-width: 576px){
  /* Phones */
  .skill-row{
    width: 90%;
    margin: 50px auto 50px auto;
    text-align: left;
    line-height: 150%;
  }

  .dsa-img{
    width: 40%;
    margin-bottom: 10px;
  }

  .webdev-img{
    width: 40%;
  }
}

/* Land Image */
@media(min-width: 992 px){
  .land{
    width: 52%;
  }
}

@media(max-width: 992px){
  .land{
    width: 60%;
  }
}

@media(max-width: 768px){
  .land{
    width: 80%;
  }
}

@media(max-width: 576px){
  .land{
    width: 90%;
    padding-top: 100px;
  }
}

@media(max-width: 576px){
  .land{
    width: 98%;
    padding-top: 100px;
  }
}



/* Clouds Image */
@media(min-width: 992px){
  .top-cloud{
    position: absolute;
    top: 120px;
    right: 16%;
  }

  .bottom-cloud{
    position: absolute;
    left: 16%;
    top: 300px;
  }
}

@media(max-width: 992px){
  .top-cloud{
    position: absolute;
    top: 120px;
    right: 10%;
  }

  .bottom-cloud{
    position: absolute;
    left: 10%;
    top: 300px;
  }
}

@media(max-width: 768px){
  .top-cloud{
    position: absolute;
    top: 120px;
    right: 5%;
  }

  .bottom-cloud{
    position: absolute;
    left: 5%;
    top: 300px;
  }
}

@media(max-width: 700px){
  .top-cloud{
    position: absolute;
    top: 90px;
    right: -5%;
    width: 40%;
  }

  .bottom-cloud{
    position: absolute;
    left: -5%;
    top: 300px;
    width: 40%;
  }
}

@media(max-width: 430px){
  .top-cloud{
    position: absolute;
    top: 80px;
    right: -5%;
    width: 30%;
  }

  .bottom-cloud{
    position: absolute;
    top: 300px;
    left: -5%;
    width: 30%;
  }
}
